/* Estilos de formularios */

/* CATEGORIES */

.form-content{
    padding: 0px 10px;
}

.form-content .form-category{
    border: 1px solid #e9eded;
    padding: 20px;
    background: #fff;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    border-radius: 7px;
    margin-bottom: 5px;
}

.form-content .form-category form .form-label{
    color: #5e5f5f;
}

.form-content .form-category form .form-control{
    background-color:  #f7f8fb;
}

input.btn{
    border: 1px solid #e9eded;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    margin-top:10px;
    margin-left: 20px;
    background-color: #74abdd;
    color: #E8EEEE;
}
input.btn:hover{
    color: #E8EEEE;
    background-color: #85c5ff;
}


/* Product */

.form-content .form-product{
    border: 1px solid #e9eded;
    padding: 20px;
    background: #fff;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    border-radius: 7px;
    margin-bottom: 5px;
}

.form-content .form-product form .form-label{
    color: #5e5f5f;
}

.form-content .form-product form .form-control{
    background-color:  #f7f8fb;
}

#id_iva{
    display: block;
    background-color:  #f7f8fb;
    border-radius: 0.25rem;
    color: #212529;
    border: 1px solid #ced4da;

}

#id_category{
    background-color:  #f7f8fb;
}

input.btn{
    border: 1px solid #e9eded;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    margin-top:10px;
    margin-left: 20px;
    background-color: #74abdd;
    color: #E8EEEE;
}
input.btn:hover{
    color: #E8EEEE;
    background-color: #85c5ff;
}

/* Clients */

.form-content .form-client{
    border: 1px solid #e9eded;
    padding: 20px;
    background: #fff;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    border-radius: 7px;
    margin-bottom: 5px;
}

.form-content .form-client form .form-label{
    color: #5e5f5f;
}

.form-content .form-client form .form-control{
    background-color:  #f7f8fb;
}

/* Provider */

.form-content .form-provider{
    border: 1px solid #e9eded;
    padding: 20px;
    background: #fff;
    transition: all 0.4s ease;
    box-shadow: 1px 0px 7px #E4E9F7;
    border-radius: 7px;
    margin-bottom: 5px;
}

.form-content .form-provider form .form-provider{
    color: #5e5f5f;
}

.form-content .form-provider form .form-control{
    background-color:  #f7f8fb;
}