*{
    margin: 0 auto;
}
/*  Header  */
#navbar{
    background-color: #1F2525;
    display: block;
    position: relative;
    padding: 10px;
}
#logo{
    margin:0 auto;
    position: absolute;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
}
#logo img{
    position: absolute;
    height:40px;
    width:150px;
    float: left;
}
/*  */


.navbar-nav .left-item{
    display:block;
    float: left;
    margin-top: 5px;
    margin-left: 0px;
}

.navbar-nav div a{
    color: #E8EEEE;
}
.navbar-nav div a:hover{
    background-color: transparent;
    color: #f6e570;
    transition: 300ms;
}
#session{
   color: #E8EEEE;
}
#session:hover{
    background-color: transparent;
    color: #f6e570;
    transition: 300ms;
}
