{% extends 'complete.html' %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-content">
        <div class="form">
            <form id='add-client-form' method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{action}}">
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{field.name}}" class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <br>
                <input type="submit" value="Agregar cliente">
            </form>
            <script type="application/javascript">
                $('#add-client-form').on('submit', function(e){
                    e.preventDefault();
                    var parameters = $(this).serializeArray();
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: parameters,
                        dataType: 'json'
                    }).done(function(data){
                        if(!data.hasOwnProperty('error')){
                            location.href = '{{ list_url }}';
                            return false;
                        };
                        message_error(data.error);
                    }).always(function(data){
                    });
                });
                </script>
        </div>
    </div>

{% endblock %}