{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 25%;">Product</th>
        <th scope="col" style="width: 20%;">Stock</th>
        <th scope="col" style="width: 15%;">Nro de Lotes</th>
        <th scope="col" style="width: 15%;">Vendidos</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.id }}</td>
        <td>{{ stock.product }}</td>
        <td>{{ stock.stock }}</td>
        <td>{{ stock.lots|length }}</td>
        <td>{{ stock.quantity_sold }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="text-center">No se encuentran registros de stock</td>
    </tr>
    {% endfor %}
{% endblock %}