{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="card">
            <div class="card-header">
                <img src="{% static 'img/febo.png' %}">
            </div>
            <div class="card-body">
                <p>Cambio de contraseña</p>
                <form id="login-form" action="." method="post">
                    <input type="hidden" name="action" value="{{action}}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <label><b>Username:</b> {{ request.user.username }}</label>
                    </div>
                    {% for field in form.visible_fields %}
                    <div class="input-group mb-3">
                        <label>{{field.label}}</label>
                        {{ field }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-sign-in-alt"></i> Cambiar Contraseña
                            </button>
                        </div>
                    </div>
                    <br>
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si deseas volver al login da un click <a
                            href="{% url 'login' %}">aqui </a>
                    </p>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de cambiar tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Tu contraseña ha sido cambiada correctamente',
                            icon: 'success',
                            timer: 5000,
                        }).then((result) => {
                            location.href = '{{ login_url }}';
                        });
                    });
                });
            });
        </script>
    </div>
{% endblock %}