{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<!-- Select2 Para iniciar busquedas-->
<link href="{% static 'lib/select2-4.1.0/dist/css/select2.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/select2-4.1.0/dist/js/select2.min.js' %}"></script>
<!-- Select2 Para iniciar busquedas -->
<link href="{% static 'lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js' %}"></script>
<!-- Mi JS -->
<script type="text/javascript" charset="utf8" src="{% static 'js/sales/saleform.js' %}"></script>
<!-- My css -->
<link rel="stylesheet" href="{% static 'css/formsale-style.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form id="add-sale-form" method="post" data-url="{{ list_url }}">
        <div class="sale">
            <div class="sale-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card" id="card-1" style="width: 100%">
                                <div class="card-sale-body" id="card-body-1">
                                    <div class="container-sale" id="container-fluid">
                                        <div class="search-group" id="search-group">
                                            <label>Buscador de productos:</label>
                                            <div class="input-group" id="input-group">
                                                <select class="search_product  select2" id="search_product" style="height: 50px;"></select>
                                                <div class="" id="button-search">
                                                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class='bx bxs-color'></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item btnSearchProducts">
                                                                <i class="fas fa-search"></i> Buscar productos
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item btnClearSearch">
                                                                <i class="fas fa-times"></i> Limpiar búsqueda
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item btnRemoveAll">
                                                                <i class="fas fa-trash"></i> Eliminar todos mis items
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="table-group">
                                            <table class="table table-bordered" id="dataSale" style="width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Eliminar</th>
                                                <th>Producto</th>
                                                <th>Stock</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Descuento</th>
                                                <th>IVA</th>
                                                <th>Subtotal</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" id="card-2">
                                <div class="card-sale-2">
                                    <div class="container-fluid">
                                        <input type="hidden" name="action" value="{{ action }}">
                                        <div class="form-group">
                                            <label>Fecha de venta:</label>
                                            {{ form.date_sale }}
                                        </div>
                                        <div class="form-group">
                                            <label>Cliente:</label>
                                            <div class="input-group" id="input-group-2">
                                                <div class="input-group-append" id="input-group-2-sub">
                                                    <select class="form-control select2" id="search_client" style="width: 210px;"></select>
                                                    <button class="btn btnAddClient" type="button">
                                                        <i class="fas fa-user-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Punto de venta</label>
                                            {{ form.sale_point }}
                                        </div>
                                        <div class="form-group">
                                            <label>Factura tipo</label>
                                            {{ form.sale_type }}
                                        </div>
                                        <div class="form-group">
                                            <label>Factura N°</label>
                                            {{ form.sale_num }}
                                        </div>
                                        <div class="form-group">
                                            <label>Condición de pago</label>
                                            {{ form.pay_condition }}
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de pago</label>
                                            {{ form.pay_type }}
                                        </div>
                                        <div class="form-group">
                                            <label>Subtotal</label>
                                            {{ form.subtotal }}
                                        </div>
                                        <div class="form-group">
                                            <label>Total descuento</label>
                                            {{ form.total_discount }}
                                        </div>
                                        <div class="form-group">
                                            <label>Total IVA</label>
                                            {{ form.total_iva }}
                                        </div>
                                        <div class="form-group">
                                            <label>Total a pagar:</label>
                                            {{ form.total }}
                                        </div>
                                        <div class="form-group">
                                            <label>Pagado?</label>
                                            {{ form.is_pay }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="sale-footer">
                <button type="submit" class="btn btn-dark">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-dark">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>

    <!-- Modal -->

    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-hidden="true">
        <form id="frmClient" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Nuevo registro de un cliente</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        {% for field in frmClient.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Cliente
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fas fa-search"></i> Búsqueda de Productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm" id="tblSearchProducts">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Imagen</th>
                            <th>Stock</th>
                            <th>Precio Unitario</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <!-- Edit Script -->
    <script type="text/javascript">
        sale.details.products = {{ products|safe }};
    </script>


{% endblock %}