{% extends 'home.html' %}
{% load static %}
{% block head %}
{% endblock %}

    {% block body %}


    <div class="all-content">

            <!-- SideBar -->
            {% include 'sidebar-collapse.html' %}
            <!-- Content -->
            <section class="home-section">
                <div class="home-header">
                     <!-- Header -->
                    {% include 'header.html' %}
                </div>
                <div class="container-content">
                    <div class="home-content">
                        {% block contentheader %}
                        <h5>{{title}}</h5>
                        {% endblock %}
                        <ol class="breadcrumb" id="my-breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                        </ol>
                    </div>
                    <div class="content">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
                <!-- Footer -->
                {% block footer %}

                {% endblock %}
            </section>


    </div>

    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    <!-- Block javascript -->
{% block javascript %}

{% endblock %}


{% endblock %}
