{% extends 'complete.html' %}
{% load static %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<!--<script src="{% static 'js/charts.js' %}"></script> -->
{% endblock %}

{% block content %}
 {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="header-content">
        <div id="first">
            <canvas id="product-sale-chart"></canvas>
        </div>
    </div>
    <div class="center-content">
        <div id="sales">
            <canvas id="sales-chart"></canvas>
        </div>
    </div>

<!-- Charts -->
<script>
    var ctx = $('#sales-chart');
    var pie = $('#product-sale-chart');

    var labels = [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre',
        ];

    var options = {
            responsive: true,
            scales: {
                x: {
                    type: 'category',
                    labels: labels
                }
            }
            };

    var products = [];
    function myProducts(lista, data){
        data.forEach(function (k, v){
            lista.push(k.name);
            console.log(lista);
            return lista;
        })
    };
    var quantities = [];
    function myValues(lista, data){
        data.forEach(function (k, v){
            lista.push(k.y);
            console.log(lista);
            return lista;
        })
    };

    var graph = {
            getSalesYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            var myChart = new Chart(ctx, {
                                  type: 'line',
                                  data: {
                                      labels: labels,
                                      datasets: [{
                                        label: 'Reporte de ventas año {{year}}',
                                        backgroundColor: 'rgb(255, 99, 132)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: request.data,
                                      }]
                                    },
                                  options: options,
                                });
                            return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            },
            getSalesProductsYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_products_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            myProducts(products, request.data);
                            myValues(quantities, request.data);
                            var myPie = new Chart(pie, {
                                  type: 'pie',
                                  data: {
                                      labels: products,
                                      datasets: [{
                                        label: 'Porcentaje de ventas por producto año {{year}}',
                                        backgroundColor:  [
                                          'rgb(255, 99, 132)',
                                          'rgb(54, 162, 235)',
                                          'rgb(255, 205, 86)'
                                        ],
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: quantities,
                                      }]
                                    },
                                  options: {
                                    responsive: true,
                                  },
                                });
                                console.log(myPie.data);
                                return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            }
            };
            $(function () {
                graph.getSalesYearMonth();
                graph.getSalesProductsYearMonth();
        });
</script>
{% endblock %}


