{% extends 'complete.html' %}
{% load static %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<!--<script src="{% static 'js/charts.js' %}"></script> -->
{% endblock %}

{% block content %}
 {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="header-content">
        <div id="first">
            <div class="graphic-container">
                <h6 class="title">Venta de productos mes {{month}}</h6>
                <canvas id="product-sale-chart"></canvas>
            </div>
        </div>
        <div id="second">
            <div class="graphic-container">
                <h6 class="title">Compra de productos mes {{month}}</h6>
                <canvas id="product-buy-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="center-content">
        <div id="sales">
            <div class="graphic-container">
                <h6 class="title">Reporte de ventas año {{year}}</h6>
                <canvas id="sales-chart"></canvas>
            </div>
        </div>
    </div>

<!-- Charts -->
<script>
    var ctx = $('#sales-chart');
    var pie = $('#product-sale-chart');
    var pie_buy = $('#product-buy-chart');
    var labels = [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre',
        ];

    var options = {
            responsive: true,
            scales: {
                x: {
                    type: 'category',
                    labels: labels
                }
            },
            plugins: {
                legend: {
                    display: false,
                }
            }
            };

    var products = [];
    var products_buy = [];
    function myProducts(lista, data){
        data.forEach(function (k, v){
            lista.push(k.name);
            return lista;
        })
    };
    var quantities = [];
    var quantities_buy = [];
    function myValues(lista, data){
        data.forEach(function (k, v){
            lista.push(k.y);
            return lista;
        })
    };
    /* Random Color */
    function randomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }
        return color;
    }
    var colors = []
    function setColor(lista, data){
        data.forEach(function(value, index){
            console.log(value);
            let color = randomColor();
            lista.push(color);
            return lista;
        });
    };

    var graph = {
            getSalesYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            var myChart = new Chart(ctx, {
                                  type: 'bar',
                                  data: {
                                      labels: labels,
                                      datasets: [{
                                        label: 'Total',
                                        backgroundColor: [
                                          'rgba(255, 99, 132, 0.2)',
                                          'rgba(255, 159, 64, 0.2)',
                                          'rgba(255, 205, 86, 0.2)',
                                          'rgba(75, 192, 192, 0.2)',
                                          'rgba(54, 162, 235, 0.2)',
                                          'rgba(153, 102, 255, 0.2)',
                                          'rgba(201, 203, 207, 0.2)'
                                        ],
                                        borderColor: [
                                          'rgb(255, 99, 132)',
                                          'rgb(255, 159, 64)',
                                          'rgb(255, 205, 86)',
                                          'rgb(75, 192, 192)',
                                          'rgb(54, 162, 235)',
                                          'rgb(153, 102, 255)',
                                          'rgb(201, 203, 207)'
                                        ],
                                        borderWidth: 1,
                                        data: request.data,
                                      }]
                                    },
                                  options: options,
                                });
                            return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            },
            getSalesProductsYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_sales_products_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            myProducts(products, request.data);
                            myValues(quantities, request.data);
                            setColor(colors, products);
                            var myPie = new Chart(pie, {
                                  type: 'pie',
                                  data: {
                                      labels: products,
                                      datasets: [{
                                        label: 'Porcentaje de ventas por producto año {{year}}',
                                        backgroundColor: colors,
                                        borderColor: '#e9eded',
                                        data: quantities,
                                      }]
                                    },
                                  options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        display: false,
                                    }
                                }
                                  },
                                });
                                return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            },
            getBuyProductsYearMonth: function () {
                $.ajax({
                    url: pathname,
                    data: {
                        'action': 'get_graph_buy_products_year_month'
                    },
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (request) {
                        if (!request.hasOwnProperty('error')) {
                            myProducts(products_buy, request.data);
                            myValues(quantities_buy, request.data);
                            setColor(colors, products_buy);
                            var myBuyPie = new Chart(pie_buy, {
                                  type: 'pie',
                                  data: {
                                      labels: products_buy,
                                      datasets: [{
                                        label: 'Porcentaje de ventas por producto año {{year}}',
                                        backgroundColor:  colors,
                                        borderColor: '#e9eded',
                                        data: quantities_buy,
                                      }]
                                    },
                                  options: {
                                    responsive: true,
                                    plugins: {
                                    legend: {
                                        display: false,
                                    }
                                }
                                  },
                                });
                                return false;
                        }
                        message_error(request.error);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message_error(errorThrown + ' ' + textStatus);
                    }
                });
            },
          };
            $(function () {
                graph.getSalesYearMonth();
                graph.getSalesProductsYearMonth();
                graph.getBuyProductsYearMonth();
        });
</script>
{% endblock %}


