{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/header-styleee.css' %}" type="text/css">
{% endblock %}

<nav id="navbar-header">
    <div class="nav-content">
        <div class="logo">
            <i class='bx bx-menu side'></i>
        </div>
        <ul class="navbar-nav">
            {% if request.user.groups.all %}
                <li class="nav-item dropdown">
                    <a id="groups" role="button" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link {% if request.user.groups.all.count > 1 %} dropdown-toggle {% endif %} item">{{ request.session.group }}</a>
                    {% if request.user.groups.all.count > 1 %}
                        <ul aria-labelledby="groups" class="dropdown-menu dropdown-menu-dark"
                            style="left: 0px; right: inherit;">
                            {% for g in request.user.groups.all %}
                                {% if g.id != request.session.group.id %}
                                    <li><a href="{% url 'select-group' g.id %}"
                                           class="dropdown-item">{{ g.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a id="session" class="nav-link dropdown-toggle item" href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false"><i class="fas fa-users-cog"></i></a>
                        <ul class="dropdown-menu dropdown-menu-dark" id="login-session">
                            <li><p class="dropdown-item">
                                {{ request.user.username }}
                            </p>
                            </li>
                            <li>

                                <span class="dropdown-item" style="font-size: 10px;">
                                            Sú último acceso fue {{ request.user.last_login }}
                                </span>
                            </li>
                            <li><div class="dropdown-divider"></div></li>
                            <!-- Update Profile -->
                            <li>
                                <a class="dropdown-item" href="{% url 'update-user-profile' %}">
                                <i class="fas fa-edit mr-2"></i> Editar perfil
                                </a>
                            </li>

                            <li><div class="dropdown-divider"></div></li>
                            <!-- Change Password-->
                            <li><a  class="dropdown-item" href="{% url 'user-change-password' %}">
                                <i class="fas fa-lock mr-2"></i> Cambiar contraseña
                            </a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <!-- LogOut-->
                            <li><a  class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fas fa-power-off" aria-hidden="true"></i> Cerrar sesión
                            </a></li>
                        </ul>
                    </li>
                    </ul>
    </div>
</nav>
