{% extends 'complete.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/DataTables/css/jquery.dataTables.min.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/datetime.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/DataTables/css/dataTables.bootstrap5.min.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'lib/DataTables/js/dataTables.bootstrap5.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/datatable.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/listt.css' %}">
{% block head_list %}

{% endblock %}

{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="table-content">
        <div class="table-body">
            <div class="container-fluid">
                {% block content_list_before %}{% endblock %}
                <table class="table table-striped" id="data">
                    <thead>
                    {% block columns %}

                    {% endblock %}
                    </thead>
                    <tbody>
                    {% block rows %}

                    {% endblock %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-btn">
            {% block buttons_list %}
                <a href="{{ create_url }}" class="btn btn-light btn-add">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
                <a href="{{ list_url }}" class="btn btn-light" id="ACT">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
                {% block other_buttons %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>


{% endblock %}


{% block javascript %}

{% endblock %}