{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/sidebar-stylee.css' %}" type="text/css">
{% endblock %}
<nav id="sidebarMenu" class="col-lg-2 d-md-block collapse">
    <div class="sidebar-content">
        <hr>
        <div class="sidebar-user">
            <div class="image">
                <img src="{{ request.user.get_image }}" alt="" width="40" height="40" class="rounded-circle me-2">
                <strong>{{ request.user.get_username }}</strong>
            </div>
        </div>
        <hr>
        <div class="sidebar-container">
            <div class="sidebar-item">
                <a class="active" aria-current="page" href="#">
                    <i class="fa-solid fa-desktop"></i>
                    Dashboard
                </a>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" data-bs-toggle="collapse"  href="#collapse-menu-company"  role="button" aria-expanded="false" aria-controls="#collapse-menu-company">
                    <i class="fa-solid fa-briefcase"></i>
                    Compañía
                </a>
                <div class="collapse" id="collapse-menu-company">
                        <a class="sub-item" href="{% url 'add-company' %}">Add</a>
                        <a class="sub-item" href="#">Info</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-cat" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse">
                    <i class="fa-solid fa-sitemap"></i>
                    Categorías
                </a>
                <div class="collapse" id="collapse-menu-cat">
                    <a class="sub-item" href="{% url 'list-category' %}">Ver categorías</a>
                    <a class="sub-item" href="{% url 'add-category' %}">Agregar categoría</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-prod" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse">
                    <i class="fa-solid fa-cube"></i>
                    Productos
                </a>
                <div class="collapse" id="collapse-menu-prod">
                    <a class="sub-item" href="{% url 'list-product' %}">Ver productos</a>
                    <a class="sub-item" href="{% url 'add-product' %}">Agregar producto</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-stock" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse">
                    <i class="fa-solid fa-cubes"></i>
                    Stock
                </a>
                <div class="collapse" id="collapse-menu-stock">
                    <a class="sub-item" href="{% url 'list-stock' %}">Ver stock</a>
                    <a class="sub-item" href="{% url 'list-lot' %}">Ver lotes</a>
                    <a class="sub-item" href="{% url 'add-lot' %}">Agregar lote</a>

                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-cli" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse">
                    <i class="fa-solid fa-globe"></i>
                    Clientes
                </a>
                <div class="collapse" id="collapse-menu-cli">
                    <a class="sub-item" href="{% url 'list-client' %}">Ver clientes</a>
                    <a class="sub-item" href="{% url 'add-client' %}">Agregar cliente</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-pro" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse">
                    <i class="fa-solid fa-truck-fast"></i>
                    Proveedores
                </a>
                <div class="collapse" id="collapse-menu-pro">
                    <a class="sub-item" href="{% url 'list-provider' %}">Ver proveedores</a>
                    <a class="sub-item" href="{% url 'add-provider' %}">Agregar proveedor</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" href="#collapse-menu-sale" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="#">
                    <i class="fa-solid fa-chart-line"></i>
                    Ventas
                </a>
                <div class="collapse" id="collapse-menu-sale">
                    <a class="sub-item" href="#">Ver ventas</a>
                    <a class="sub-item" href="{% url 'add-sale' %}">Registrar venta</a>
                    <a class="sub-item" href="#">Reporte de ventas</a>
                </div>
            </div>
            <div class="sidebar-item">
                <a class="dropdown-toggle" data-bs-toggle="collapse" href="#collapse-menu-user" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa-solid fa-user-large"></i>
                    Usuarios
                </a>
                <div class="collapse" id="collapse-menu-user">
                    <a class="sub-item" href="{% url 'list-user' %}">Ver usuarios</a>
                    <a class="sub-item" href="{% url 'add-user' %}">Agregar usuario</a>
                </div>
            </div>
        </div>

    </div>
</nav>
{% block javascript %}
{% endblock %}