{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 2%;">Nro</th>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 20%;">Apellido</th>
        <th scope="col" style="width: 10%;">Username</th>
        <th scope="col" style="width: 15%;">Email</th>
        <th scope="col" style="width: 15%;">Grupos</th>
        <th scope="col" style="width: 13%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        {% if user.groups.all|length != 0 %}
        <td>
            {% for g in user.groups.all %}
                {{g.name}}
            {% endfor %}
        </td>
        {% else %}
        <td> Sin Grupo </td>
        {% endif %}
        <td>
            <!-- Update Button ver manera de hacerlo global-->
            <a type="button" class="btn" href="{% url 'update-user' pk=user.id %}"><i class="fa-solid fa-marker"></i></a>
            <!-- Delete Button ver manera de hacerlo global-->
            <button type="button" data-bs-toggle="modal"  class="btn" data-bs-target="#delete-modal{{ user.id }}">
                <i class="fa-solid fa-trash-can"></i>
            </button>
            <div class="modal fade" id="delete-modal{{ user.id }}" tabindex="-1" aria-labelledby="DeleteModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea eliminar este usuario?</h5>
                        </div>
                        <div class="modal-body">
                            Al eliminar un usuario, se borrarán automáticamente todos sus datos relacionados<br>
                            Usuario: <b>{{user.username}}</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Salir</button>
                            <form action="{% url 'delete-user' pk=user.id %}" method="POST">
                                {% csrf_token %}
                                <button value={{user.id}} name="user_id" class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="text-center">No se encuentran registros de usuarios</td>
    </tr>
    {% endfor %}

{% endblock %}